body{
    background-size: cover;
    background-color: #3a4965;
}
.box{
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
#tb1{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border: none;
    font-family: Arimo;
}
.textHead th{
    height: 69px;
    width: 277px;
    padding: 26px;
}
.choice{
    font-weight: 700;
    font-size: 18px;
    color:  #484848;
}
.plan{
    font-weight: 700;
    font-size: 30px;
    color:  #484848;
}
.dollar{
    font-size: 60px;
}
.coins{
    font-size: 24px;
    position: relative;
    top: -25px;
}
.month{
    font-size: 18px;
    font-weight: 400;
    position: relative;
    left: -34px;
}
.choice,
.plan,
.price {
    color: #484848;
    background-color: #fafafa;
}
.standard,
.ultimate,
.premium {
    color: #ffffff;
    font-weight: 700;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);

}
.standard{
    background-color: #89c331;
    font-size: 24px;
}
.ultimate{
    background-color:  #f04a56;
    font-size: 30px;
}
.premium{
    font-size: 24px;
    background-color:  #20807c;
}
.price th{
    padding: 18px;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}
.fa{
    color: #848484;
    position: relative;
    right: 12px;
}
.storage td,
.bandwidth td,
.email td,
.support td,
.products td,
.users td,
.contactUs td {
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
    color: #484848;
    font-weight: 400;
    padding-top: 29px;
    padding-bottom: 27px;
}

.storage td,
.email td,
.products td{
    background-color: #f2f2f2;
}
.bandwidth td,
.support td,
.users td {
    background-color: #e3e3e3;
}
button{
    width: 192px;
    font-family: Arimo;
    font-weight: 700;
    color: #ffffff;
    padding-top: 19px;
    padding-bottom: 10px;
    padding-left: 44px;
    padding-right: 44px;
    cursor: pointer;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.button1{
    background-color: #484848;
    border-bottom: 7px solid #404040;
}
.button1:hover{
    background-color: #404040;
}
.button2{
    background-color: #89c331;
    border-bottom: 7px solid #79b027;
}
.button2:hover{
    background-color: #79b027;
}
.button3{
    background-color: #f04a56;
    border-bottom: 7px solid #df3a46;
}
.button3:hover{
    background-color: #df3a46;
}
.button4{
    background-color: #20807c;
    border-bottom: 7px solid #16736f;
}
.button4:hover{
    background-color: #16736f;
}
.first{
    background-color: #dddddd;
}
.second,
.fourth{
    background-color: #eeeeee;
}
.third{
    background-color: #f4f4f4;
}